.count {
  width: 120;
  height: 50;
  display: 'block';
}
.label {
  font: '20px';
  display: 'block';
  display: 'block';
}
.Tabs {
  transform: 'translateY(200px)';
}
body {
  width: 960px;
  text-align: center;
}
